@font-face {
  font-family: "iconfont"; /* Project id 2983212 */
  src: url('iconfont.woff2?t=1638434814385') format('woff2'),
       url('iconfont.woff?t=1638434814385') format('woff'),
       url('iconfont.ttf?t=1638434814385') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sortdown:before {
  content: "\e818";
}

.icon-sortup:before {
  content: "\e81b";
}

