@font-face {
  font-family: "iconfont"; /* Project id 2983212 */
  src: url('iconfont.woff2?t=1640917911763') format('woff2'),
       url('iconfont.woff?t=1640917911763') format('woff'),
       url('iconfont.ttf?t=1640917911763') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e721";
}

.icon-close:before {
  content: "\e69e";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-biyan:before {
  content: "\e611";
}

.icon-eye:before {
  content: "\e604";
}

.icon-sortdown:before {
  content: "\e818";
}

.icon-sortup:before {
  content: "\e81b";
}

