.el-table{
    display: flex;
    flex-direction: column;
    .el-header{
        display: flex;
        color: #909399;
        font-weight: 500;
        .el-column{
            flex: 1;
            display: flex;
            padding: 12px;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            text-align: left;
            .caret-wrapper{
                position: relative;
                top: 2px;
                left: 4px;
                i{
                    font-size: 16px;
                    position: absolute;
                }
                .active{
                    color: #409eff;
                }
            }
        }
        .is_selection{
            width: 54px;
            flex: none;
        }
        .is-sortable{
            cursor: pointer;
        }
    }
    .el-body{
        overflow: auto;
        max-height: unset;
        .el-row{
            flex: 1;
            display: flex;
            border-top: 1px #e9eaec solid;
            &-cell{
                padding: 12px;
                display: flex;
                flex: 1;
                box-sizing: border-box;
                text-overflow: ellipsis;
                vertical-align: middle;
                text-align: left;
            }
            &:hover{
                background: #f5f7fa;
            }
            &:last-of-type{
                border-bottom: 1px #e9eaec solid;
            }
        }
        .is_selection{
            width: 54px;
            flex: none;
        }
        .striped{
            background: #fafafa;
        }
        .current-row{
            background: #ecf5ff;
            &:hover{
                background: #ecf5ff;
            }
        }
    }
}
